body {
}


.stadium {
    position: relative;
    width: 100%;
}

.stadium img {
    width: 100%;
    height: auto;
}

.stadium .btn {
    position: absolute;
    width: 19%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: black;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    left: 50.5%;
}

.stadium .rotated {
    transform: rotate(90deg);
    top: 47.5%;
}

.stadium .btn:hover {
    background-color: black;
}

.prices label {
    font-weight: bold;
}

.delivery .row {
    margin-left: 39.7%;
    position: static;
}

.events .widget-box {
    margin: 8%;
}

.widget-main label{
    font-weight:bold; 
    font-size: 2rem; 
}

.widget-main span {
    font-size: 1.8rem; 
}





