body {
}


.stadium {
    position: relative;
    width: 100%;
}

.stadium img {
    width: 100%;
    height: auto;
}

.stadium .btn {
    position: absolute;
    width: 19%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: black;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    left: 50.5%;
}

.stadium .rotated {
    transform: rotate(90deg);
    top: 47.5%;
}

.stadium .btn:hover {
    background-color: black;
}

.prices label {
    font-weight: bold;
}

.delivery .row {
    margin-left: 39.7%;
    position: static;
}

.events .widget-box {
    margin: 8%;
}

.widget-main label{
    font-weight:bold; 
    font-size: 2rem; 
}

.widget-main span {
    font-size: 1.8rem; 
}

#ContentPlaceHolder1_tblBoletos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#ContentPlaceHolder1_tblBoletos tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align:center; 
}

#ContentPlaceHolder1_tblBoletos tr:hover {
    background-color: #ddd;
}

#ContentPlaceHolder1_tblBoletos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f8f8f8;
    color: #669FC7;
}





